.productStyle{
    width:200px;
    height: 360px;
    font-size: 22px;
    border:2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: darkcyan;
    color:whitesmoke;
    font-size: 15px;
    margin:10px;
    padding:10px;
}
.container{
    width:800px;
    display: flex;
    flex-wrap: wrap;
}
.button{
    width:90px;
    height:40px;
    border-radius: 5px;
    background-color: #282c34;
    font-size: 20px;
    color:whitesmoke;
    outline: none;
}
.basketContainer{

    width:1000px;
    border-radius: 10px;
    background-color: darkcyan;
    font-size: 20px;
    color:whitesmoke;
    padding:10px;
}
.basketItem{
    display: flex;
    justify-content: space-around;
    margin:10px;
}